@font-face {
    font-family: headerFont;
    src: url("/Ancient\ Medium.ttf");
}
@font-face {
    font-family: buttonFont;
    src: url("/Bloom\ Monday\ Demo.otf");
}


.input{
    display: flex;
    width: 50%;
    position: relative;
    align-items: center;
}
.inputBox{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border-radius: 50px;
    padding: 20px;
    font-size: 25px;
    border: none;
    transition: 0.4s;
    box-shadow: inset 0 0 5px black;
    box-shadow: 0 0 5px black;
}

.inputBox:focus{
    box-shadow: 0 0 10px 15px rgba(226, 130, 20, 0.284);
    outline: none;
}

.search-terms {
    border: 1px solid #010101;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 30px;
    position: absolute;
    top: 100%;
    width: 80%;
    z-index: 1;
    background-color: #000000;
}
  
.search-term {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 0.8em;
    color: #333;
}

.submit{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: rgb(226, 130, 20);
    color: white;
    transition: 0.4s all;
    box-shadow: 0px 0px 20px black;
}
.submit:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px black;
    cursor: pointer;
}

.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.homeButton{
    background-color: #fadb92;
    border-radius: 5px;
    font-size: 60px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    transition: 0.4s all;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.76);
    font-family: buttonFont;
    letter-spacing: 3px;
    border: none;
    padding-left: 100px;
    padding-right: 100px;
}
.homeButton:hover{
    cursor: pointer;
    box-shadow: 3px 3px 30px rgb(226, 130, 20);
    transform: scale(1.09);
}

.pageHeader{
    font-size: 50px;
    color:rgb(226, 130, 20);
    position: relative;
    text-shadow: 3px 3px 5px black;
    font-family: buttonFont;
    letter-spacing: 6px;
    text-decoration: underline;
    text-align: center;
}

.googleDocEmbedContainer{
    /*background: url('/scroll.png') center center;*/
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    animation: glow 3s ease-in-out infinite;
    box-shadow: 0 0 20px #f3810f;
}

.homeLink{
    text-decoration: none;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}


.doc{
    height: 1300px;
    border: none;
    border-radius: 10px;
    height: 1000px;
}

@keyframes glow {
    0% {
      box-shadow: 0 0 20px #f3810f;
    }
    50% {
      box-shadow: 0 0 30px #c36309;
    }
    100% {
      box-shadow: 0 0 20px #f3810f;
    }
  }

@media(max-width: 1030px){
    .googleDocEmbedContainer{
        width: 700px;
    }
}

@media(max-width: 800px){
    .input{
        width: 60%;
    }
    .inputBox{
      font-size: 15px;
    }
    .submit{
        width: 30px;
        height: 30px;
    }
}

@media(max-width:724px){
    .googleDocEmbedContainer{
        width: 500px;
    }
}

@media(max-width: 500px){
    .inputBox{
        font-size: 10px;
    }
    .submit{
        width: 25px;
        height: 25px;
        font-size: 8px;
    }
    .homeButton{
        font-size: 30px;
    }
    .pageHeader{
        font-size: 30px;
    }
    .googleDocEmbedContainer{
        width: 300px;
    }
}